:root {
  --bg-color: rgb(250, 235, 215);
  --hover-color: rgb(205, 92, 92);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  place-items: center;
  background-color: var(--bg-color);
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}