* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #3C3744;
  margin: 0;
  padding: 0;
}

.outlet-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navigator {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.navigator > a {
  width: 100%;
  text-decoration: none;
  height: fit-content;
}

.navigator > a > div {
  width: 100%;
  height: 3em;
  flex: 1;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.navigator > a > div:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.main-grid {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: [left] auto [start] min(70%, 400px) [end] auto [right];
  grid-template-rows: [top] 2em [start] auto [end] 2em [bottom];
}

.main-grid > * {
  grid-column: start / end;
  grid-row: start / end;
}

.main-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}