* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #3C3744;
  margin: 0;
  padding: 0;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.outlet-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navigator {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  display: flex;
}

.icon-container {
  width: 2em;
}

.navigator img {
  margin: auto 0;
  height: 2em;
  width: 2em;
  object-fit: fill;
  flex: 0.5;
}

.navigator > a {
  flex: 1;
  width: 100%;
  text-decoration: none;
}

.navigator > a > div {
  width: 100%;
  height: 3em;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.navigator > a > div:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.main-grid {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: [left] auto [start] min(70%, 400px) [end] auto [right];
  grid-template-rows: [top] 2em [start] auto [end] 2em [bottom];
  overflow-x: hidden;
}

.main-grid > * {
  grid-column: start / end;
  grid-row: start / end;
}

.main-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding-left: 5px;
  padding-right: 5px;
  background-color: antiquewhite;
}

button:hover {
  background-color: indianred;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}