.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  background-color: antiquewhite;
}

button:hover {
  background-color: indianred;
  cursor: pointer;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 3em;
}

.fighter-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

p {
  margin: 0;
  padding: 0;
}