.bacchiatori-container {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.bacchiatore-riga {
  display: flex;
  justify-content: center;
}

.classifica-riga {
  display: flex;
  justify-content: space-between;
}

.classifica-riga > p {
  margin: 0 0.2em;
  overflow: hidden;
  display: inline;
}