table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-girone {
  border-color: var(--bg-color);
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-girone * {
  user-select: none;
  cursor: pointer;
}

.button-girone {
  width: 100%;
}

.tr-girone:hover {
  background-color: var(--hover-color);
}

.tr-girone-active {
  background-color: var(--hover-color);
}

.cell-score {
  width: 1.2em;
  height: 1.2em;
}

.cell-score > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.cell-score > input[type=number] {
  -moz-appearance: textfield;
}

.input-score {
  text-align: center;
  border: 0;
  margin: 0px;
  width: 1.2em;
  background-color: var(--bg-color);
}

.input-score-active {
  text-align: center;
  border: 0;
  margin: 0px;
  width: 1.2em;
  background-color: white;
}

.tr-button > td {
  border-color: var(--bg-color);
}

.cell-button {
  user-select: none;
  font-size: 1em;
  height: 1.5em;
}

.cell-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

td {
  text-align: center;
  font-size: small;
}