table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-girone {
  border-color: var(--bg-color);
  width: 100%;
  margin: 0;
}

.table-girone * {
  user-select: none;
}

.button-girone {
  flex: 1;
  height: 2em;
}

.button-girone-active {
  flex: 1;
  height: 2em;
  background-color: var(--hover-color);
}

.tr-girone {
  background-color: var(--bg-color);
}

.tr-girone:hover > .cell-score {
  background-color: var(--hover-color)
}

.tr-girone:hover > .td-indice-duello, .tr-girone-active:hover > .td-indice-duello {
  background-color: var(--hover-color);
}

.cell-name-active {
  font-weight: bold;
}

.selector-girone {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.selector-girone > button {
  border: 0;
}

.selector-bacchiatore {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selector-bacchiatore > * {
  flex: 1;
  white-space: nowrap;
}

.cell-score {
  width: 2em;
  height: 2em;
}

.input-score {
  text-align: center;
  border: 0;
  margin: 0px;
  width: 1.2em;
  background: transparent;
}

.input-score::placeholder {
  color: black;
}

.tr-button > td {
  border-color: var(--bg-color);
}

.cell-button {
  user-select: none;
  font-size: 1em;
  height: 1.5em;
}

.cell-name.cell-winner {
  background-color: lightgreen;
}

.cell-name.cell-loser {
  background-color: lightgray;
}

.cell-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

td {
  text-align: center;
  font-size: small;
}