* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #3C3744;
  margin: 0;
  padding: 0;
}

.outlet-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navigator {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navigator > div {
  height: 3em;
  flex: 1;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.navigator > div > div {
  height: fit-content;
  font-size: 0.8rem;
}

.navigator > div:hover {
  background-color:#cd5c5c;
  cursor: pointer;
}

.main-grid {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: [left] auto [start] min(70%, 400px) [end] auto [right];
  grid-template-rows: [top] 3em [start] auto [bottom];
}

.main-grid > * {
  grid-column: start / end;
  grid-row: start / bottom;
}

.main-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}